#placeholder{
    margin: 0px 9px 8px 9px;
    border-radius: 10px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    color: #555;
    font-size: 14px;
    flex-grow: 1;
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 10%);
    margin-top: 2px;
}

#player{
    min-height: 100%;
    display: flex;
}