#track #head {
  background: linear-gradient(rgb(192, 173, 173), rgb(110, 99, 99));
  display: flex;
  padding: 30px 20px;
  backdrop-filter: blur(10px);
}

#track #head > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: calc(100% - 220px);
}

#track #head > img {
  width: 180px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  margin-right: 30px;
}

#track #head h1 {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  line-height: 0.9;
  margin-top: 10px;
  margin-bottom: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#track #head p {
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 14px;
}

#track #head p.artistCrumb {
  display: flex;
  align-items: center;
}

#track #head p.artistCrumb img {
  border-radius: 50%;
  margin-right: 8px;
}

#track .artistCrumb .light {
  color: rgba(255, 255, 255, 0.7);
}

#track #head p.artistCrumb a {
  font-weight: 600;
}

#track #head p.artistCrumb #albumLink a {
  font-weight: 500;
}

#track #head p.artistCrumb a:hover {
  text-decoration: underline;
}

#track #head p.sm {
  font-size: 14px;
}

#info {
  padding: 25px 20px;
}

#play {
  font-size: 22px;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  width: 60px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ff4d4d;
  margin-right: 20px;
}

#play:hover{
  background-color: #ff5d5d;
}

#actions{
  display: flex;
  align-items: center;
}

#like{
  font-size: 23px;
  background: no-repeat;
  border: 3px solid #555;
  color: #555;
  width: 42px;
  border-radius: 50%;
  display: flex;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}

#like:hover{
  color: #888;
  border: 3px solid #888;
}

#contributors{
  margin-top: 20px;
}

.artistTab{
  display: flex;
    align-items: center;
    padding: 8px;
    width: 400px;
    border-radius: 10px;
    transition: background-color 0.1s;
    cursor: pointer;
}

.artistTab:hover{
  background-color: #fcfcfc;
}

.artistTab img{
  display: block;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 15px;
}

.artistTab p{
  color: #333;
  font-weight: 600;
  font-size: 15px;
}

.artistTab a:hover{
  text-decoration: underline;
}

#playerRoot{
    padding: 4px 4px 2px 4px;
    border-radius: 8px;
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 10%);
}