#container{
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#body{
    flex-grow: 1;
    padding: 10px;
    padding-top: 0;
    display: flex;
    overflow: hidden;
}

#playerWrapper{
    min-height: 80px;
}

#routeWrapper{
    background-color: #f7f7f7;
    border-radius: 10px;
    flex-grow: 1;
    margin-left: 12px;
    max-width: calc(100% - 358px);
    overflow-y: scroll;
    margin-top: 5px;
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 10%);
}

#libraryWrapper{
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 10%);
}