#head{
    background: linear-gradient(rgb(192, 173, 173), rgb(110, 99, 99));
    display: flex;
    padding: 30px 20px;
    backdrop-filter: blur(10px);
}

#head img{
    width: 180px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    margin-right: 30px;
}

#head h1{
    color: white;
    font-weight: 800;
    font-size: 90px;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

#head p{
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 16px;
}

#tracks{
    padding: 20px;
}

.track{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-radius: 5px;
}

.track:hover{
    background-color: #5c5c5c;
}

.track img{
    border-radius: 5px;
}

.trackName{
    color: white;
    font-size: 14px;
    font-weight: 500;
    flex-grow: 1;
}

.trackName a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.plays, .duration, .serial{
    color: #b3b3b3;
    font-size: 14px;
}

.serial{
    width: 25px;
}

.trackName{
    margin-left: 15px;
}

.plays, .duration{
    text-align: right;
}

.duration{
    min-width: 350px;
}