#signupWrapper {
    background-color: rgb(20, 20, 20);
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-head h1 {
    font-size: xx-large;
    font-weight: 1000;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color: white;
}

#signupWrapper label{
    font-weight: bold;
    color: white;
    margin: 4px;
}

form{
    padding: 10px;
}

#signupWrapper input {
    display: block;
    margin: 5px;
    width: 400px;
    font-size: medium;
    padding: 20px;
    border: 2px solid rgb(20,20,20);
    border-radius: 3px;
}

#signupWrapper a{
    color: #1ED760;
}

#signupWrapper button {
    display: block;
    width: 400px;
    background-color: #1ED760;
    color: black;
    font-size: large;
    border: none;
    padding: 15px 24px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}
#signupWrapper p{
    text-align: center;
    color: white;
}
#signupWrapper button:hover{
    background-color: #6cdb93;
    transition: ease-in-out;
}
#signupWrapper input:hover{
    border: 2px solid white;
}